* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.icon {
  /* width: 90px; */
  font-size: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-color: aliceblue;
}

.container {
  padding: 1rem;
}

/* HEADER */

.header {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* HEADER LEFT */
.header_left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo_icon {
  color: blue;
  font-size: 30px;
}

.logo h3 {
  font-weight: 500;
  font-size: small;
}

/* HEADER RIGHT */
.header_right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification_bell {
  font-size: 25px;
  color: hsl(240, 64%, 53%);
}

/* CARDS */
.cards {
  margin-bottom: 1rem;
}

.balance_cards_container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 1rem;
}

.balance_cards {
  width: 700px;
  color: hsl(0, 0%, 100%);
  line-height: 30px;
  padding: 10px;
  border-radius: 15px;
}

.balance_card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acct_num {
  letter-spacing: 2px;
}

.balance_card span {
  display: block;
  color: rgb(189, 186, 186);
}

.balance_cards_icon {
  font-size: 20px;
  margin-left: 90%;
}

.card_one {
  background: linear-gradient(to top right, #92400e, #d97706, #fbbf24);
}

.card_one span {
  width: 150px;
  display: block;
}

.card_two {
  background: linear-gradient(
    to top right,
    rgb(41, 71, 41) 0%,
    hsl(120, 100%, 25%),
    hsl(120, 100%, 25%)
  );
}

.card_two span {
  width: 150px;
  display: block;
}

.card_three {
  background: linear-gradient(to top right, #581c87, #9333ea, #c084fc);
}

.card_three span {
  width: 150px;
  display: block;
}

.card {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: hsl(240, 64%, 53%);
  color: white;
  line-height: 30px;
}

.card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nfc {
  font-size: 20px;
}

.card_top h3 {
  font-size: 1.2rem;
}

.chip {
  width: 40px;
  height: 30px;
  border-radius: 8px;
  background-color: rgba(255, 217, 0, 0.808);
}

.card_num {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.card_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bottom span {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.card-bottom h2 {
  font-weight: 700;
}

/* QUICK ACTIONS */
.quick_actions {
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.quick_actions_container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
}

.quick_actions span:nth-child(1) {
  display: block;
  margin-bottom: 1rem;
}

.deposit {
  display: flex;
  gap: 10px;
  padding: 1rem;
  background-color: aliceblue;
  outline: none;
  box-shadow: 1px 1px 1px grey;
  border-radius: 10px;
}

.banking_service_icon {
  font-size: 35px;
  padding: 5px;
  border-radius: 5px;
}

.banking_service_text span {
  color: gray;
  font-size: 12px;
}

.banking_service_icon_one {
  color: hsl(240, 64%, 53%);
  background-color: hsl(240, 42%, 72%);
}

.banking_service_icon_two {
  background-color: hsl(120, 23%, 75%);
  color: hsl(120, 100%, 25%);
}

.banking_service_icon_three {
  background-color: rgb(172, 68, 172);
  color: rgb(61, 9, 61);
}

.banking_service_icon_four {
  background-color: hsl(39, 29%, 44%);
  color: hsl(39, 71%, 48%);
}
