* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.icon {
  /* width: 90px; */
  font-size: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-color: aliceblue;
}

.container {
  padding: 1rem;
}

/* HEADER */

.header {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* HEADER LEFT */
.header_left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo_icon {
  color: blue;
  font-size: 30px;
}

.logo h3 {
  font-weight: 500;
  font-size: small;
}

/* HEADER RIGHT */
.header_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user_image {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

/* CARDS */

.balance_cards_container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 1rem;
}

.balance_cards {
  width: 700px;
  color: hsl(0, 0%, 100%);
  line-height: 30px;
  padding: 10px;
  border-radius: 15px;
}

.balance_card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acct_num {
  letter-spacing: 2px;
}

.balance_card span {
  display: block;
  color: rgb(189, 186, 186);
}

.balance_cards_icon {
  font-size: 20px;
  margin-left: 90%;
}

.card_one {
  background: linear-gradient(to top right, #92400e, #d97706, #fbbf24);
}

.card_two {
  background: linear-gradient(
    to top right,
    rgb(41, 71, 41) 0%,
    hsl(120, 100%, 25%),
    hsl(120, 100%, 25%)
  );
}

.card_three {
  background: linear-gradient(to top right, #581c87, #9333ea, #c084fc);
}

/* CARDS */
/* .cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.balance_cards_container {
  max-width: 90vw;
  display: flex;
  gap: 5px;
}

.balance_cards {
  background-color: hsl(240, 64%, 53%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  flex: 1;
}

.balance_cards span {
  font-size: 15px;
}

.balance_cards_amount {
  font-size: 20px;
}

.balance_cards_icon {
  margin-left: 90%;
  font-size: 20px;
}

.debit_card_container {
  display: flex;
}

.balance_cards:nth-child(2) {
  background-color: hsl(120, 100%, 25%);
}

.balance_cards:nth-child(3) {
  background-color: hsl(300, 100%, 25%);
} */

.card {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: hsl(240, 64%, 53%);
  color: white;
  line-height: 30px;
}

.card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nfc {
  font-size: 20px;
}

.card_top h3 {
  font-size: 1.2rem;
}

.chip {
  width: 40px;
  height: 30px;
  border-radius: 8px;
  background-color: rgba(255, 217, 0, 0.808);
}

.card_num {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.card_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bottom span {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.card-bottom h2 {
  font-weight: 700;
}
